* {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 10vh 15vw;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-areas:
    "one one three four"
    "five two two four";
}
.testimonial {
  padding: 15px;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
}
.testimonial-img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-name {
  font-weight: 700;
}

.testimonial-prof {
  font-weight: 300;
  font-size: small;
}

.testimonial-head {
  display: flex;
  gap: 15px;
}

.testimonial-person {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.testimonial-content p {
  font-size: 0.9em;
}

.testimonial1 {
  grid-area: one;
  background-color: rgb(136, 74, 194);
  color: white;
}
.testimonial2 {
  grid-area: two;
  background-color: #19202d;
  color: white;
}
.testimonial3 {
  grid-area: three;
  background-color: #48556c;
  color: white;
}

.testimonial4 {
  grid-area: four;
  background-color: #f6f6f6;
}

.testimonial5 {
  grid-area: five;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
      "one one three"
      "five two two"
      "four four four";
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}
